body {
    /*background-color: #000000;*/
    background-color: #ffffff;
    margin: 0px;
    /*overflow: hidden;*/
}

a {
    color:#0078ff;
}

#info {
    position: absolute;
    top: 10px; width: 100%;
    color: #ffffff;
    padding: 5px;
    font-family: Monospace;
    font-size: 13px;
    text-align: center;
    z-index:100;
}

a:hover {
    color: #0080ff;
}

td.info {
    vertical-align: bottom;
    width: 30%;
}

td.vis {
    vertical-align: bottom;
    width: 60%;
}

.instructions {
    padding: 10px;
}

#graphic {
    width: 500px;
    height: 500px;
}

#frame {
    font-weight: bold;
}

td.right {
  text-align: right;
}