body {
    /*background-color: #000000;*/
    /*background-color: #ffffff;*/
    background-color: #f7f7f7;
    margin: 0px;
    /*overflow: hidden;*/
}

a {
    color:#0078ff;
}

.logo {
    /*position: absolute;*/
    /*background-color: rgba(255, 255, 156, 0.3);*/
    top: 20px;
    left: 20px;
    /*text-align: center;*/
    font-family: Impact;
    font-size: 50px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    color: rgb(60, 0, 250);
}

#info {
    position: absolute;
    top: 10px; width: 100%;
    color: #ffffff;
    padding: 5px;
    font-family: Monospace;
    font-size: 13px;
    text-align: center;
    z-index:100;
}

a:hover {
    color: #0080ff;
}

td.info {
    vertical-align: top;
    /*width: 45%;*/
    width: 500px;
}

td.vis {
    vertical-align: bottom;
    /*width: 700px;*/
}

.instructions {
    padding: 10px;
}

#demos {
    width:240px;
}

#demoInstructions {
    width: 500px;
    text-align: center;
    visibility: hidden;
}

#playdiv {
    width: 500px;
    text-align: center;
}

#graphic {
    width: 500px;
    height: 500px;
    overflow: hidden;
    border-style: solid;
    border-width: 1px;
    background-color: #ffffff;
}

#frame {
    font-weight: bold;
}

td.right {
  text-align: right;
}

#clock > div {
    display: flex;
}

#clock .numeric {
    font-size: 2.2rem;
}

#clock {
    font-family: Monospace;
}

#clock > div > div {
    display: flex;
    border: 1px solid lightgrey;
    border-radius: 2px;
    flex-direction: column;
    text-align: center;
    margin: 2px;
    padding: 4px;
}

.center {
  text-align: center;
/*  border: 3px solid green;*/
}

.right {
  text-align: right;
}

input[type=number]{
    width: 80px;
} 

.references {
  border: 3px hidden;
}
